SECRET_KEY=troque-por-uma-chave-secreta-forte
PORT=5000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
EMAIL_FROM=black.wolves.gm@gmail.com
EMAIL_TO=black.wolves.gm@gmail.com
SMTP_USERNAME=black.wolves.gm@gmail.com
SMTP_PASSWORD=sua_senha_de_app_do_gmail
APP_DOMAIN=blackwoves.com.br
